* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    background-color:white;
    font-size: 16px;
}

h1 {
    font-size: 1.5em;
    font-weight: 300px;
}
.timer {
    font-weight: 3rem;
}

.quiz, .scores {
    margin: 100px auto 0 auto;
    max-width: 400px;
    display: block;
}

p {
    margin-top: 10px;
}



.main-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Leaderboard {
    position: absolute;
    top: 10px;
    left: 15px;
}

.timer {
    position: absolute;
    top: 15px;
    right: 30px;
    
}

button {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    background-color: black;
    border-radius: 5px;
    border: 0;
    padding: 20px;
}

button:hover {
    background-color: salmon;
}

.options button {
    display: block;
}

input[type="text"] {
    font-size: 100%;
}

.hide {
    display: none;
}


ol {
    padding-left: 15px;
    max-height: 600px;
    overflow: auto;
}
  
  li {
    padding: 5px;
    list-style: decimal inside none;
}


/* This will be applied on any screen smaller than 768px */
@media screen and (max-width: 768px) {

}

/* This will be applied on any screen smaller than 575px */
@media screen and  (max-width: 575px) {

}
